<%- include("header") -%>

<div id="notFoundPage">

<div class="container-fluid">

  <div class="row">
    <div class="col-lg-6">
      <div class="card">

        <div class="card-body">
          <h5 class="card-title">Country not found !</h5>
          <a href="/" class="btn btn-primary">Search Again</a>
        </div>
      </div>
    </div>
  </div>


</div>


    </div>



<%- include("footer") -%>
